/* 전체 스타일링 */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

/* 헤더와 푸터에 의해 생성되는 공간을 고려한 스타일링 */
body > *:not(header):not(footer) {
    padding: 1em;
}

/* 메인 컨텐츠 스타일링 */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 2em;
    background-color: #ffffff;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.container h1 {
    font-size: 2em;
    margin-bottom: 1em;
    color: #007BFF;
}

.container p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #555;
}
